@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --custom-green: #3B755F;
  --custom-white: #F9F9F9;
  --custom-black: #212121;
  --custom-blue: #2E3A8C;
  --custom-beige: #F2EBDB;
}

h1 {
  font-size: 30px; 
  font-weight: 700; 
  text-underline-position: from-font;
  text-decoration-skip-ink: none; 
}
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */